*

!Dockerfile.server
!docker-compose.yml

!packages/
!packages/server/
!packages/server/package.json
!packages/server/tsconfig.json
!packages/server/src/
!packages/server/src/**

!packages/shared/
!packages/shared/package.json
!packages/shared/tsconfig.json
!packages/shared/src/
!packages/shared/src/**
